<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="theme-color" content="#000000" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
	<meta name="msapplication-navbutton-color" content="#000000" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.25, maximum-scale=1.0, user-scalable=0" />
	<title>Pools</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/pools.css" />
</head>
<body>
<script th:replace="blocks::script-header"></script>
<header th:replace="blocks::header"></header>
<nav th:replace="blocks::nav"></nav>
<main id="main" class="block-main white">
	<div class="main__center">
		<div class="title">
			<div class="title__h1">Inu Pools</div>
			<div class="title__label">Just stake some tokens to earn. High APR, low risk.</div>
		</div>
		<div class="toolbar">
			<img src="/img/farms/rows.svg" />
			<img src="/img/farms/blocks.svg" />
			<img src="/img/farms/staked-only2.svg" />
			<img src="/img/farms/live-finished.svg" />
			<img src="/img/farms/hot.svg" />
			<img src="/img/farms/search.svg" />
		</div>
		<table class="table">
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
			<tr>
				<td class="token__td">
					<div class="token">
						<div class="token__img"></div>
						<div>
							<div class="token__name">Token Name</div>
							<div class="token__fullname">Automatiic restaking</div>
						</div>
					</div>
				</td>
				<td class="earned__td">
					<div class="earned__label">Recent NUWA profit</div>
					<div class="earned__value">0</div>
				</td>
				<td class="apy__td">
					<div class="apy__label">APY</div>
					<div class="apy__value-wrapper">
						<div class="apy__value">104.8%</div>
						<img class="apy__calc" src="/img/farms/calc.svg" />
					</div>
				</td>
				<td class="stake__td">
					<div class="stake__label">Total staked</div>
					<div class="stake__value-wrapper">
						<div class="stake__value">87.161.160</div>
						<img class="stake__help" src="/img/help.svg" />
					</div>
				</td>
				<td class="ends__td">
					<div class="ends__label">Ends in</div>
					<div class="ends__value">—</div>

				</td>
				<td class="details__td">
					<div class="details">
						<div class="details__label">Details</div>
						<img class="details__arrow" src="/img/expand-arrow.svg" />
					</div>
				</td>
			</tr>
		</table>
	</div>
</main>
<video class="background-video" preload="metadata" muted="muted" autoplay playsinline loop>
<!--
	<source type="video/webm" src="/video/background-nuwa-m.webm">
	<source type="video/ogg" src="/video/background-nuwa-m.ogg">
-->
	<source type="video/mp4" src="/video/background-nuwa-m.mp4">
</video>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/pools.js"></script>
</body>
</html>